<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Flask Mail Sending APP</h1>
	<form action ="{{url_for('send_message')}}" method="POST">
		<input type="email" name="email" placeholder="Email" required id="">
		<input type="text" name="subject" placeholder="Subject" required id="">
		
		<input type="submit" value="Send Message">	

	</form>
<img src="{{ user_image }}" height="150px" width="300px"/>
<img src="{{ url_for('static', filename='img_girl.jpg') }}" height="150px" width="300px"/>
</body>
</html>