
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
  <body onload="httpGet"> 
   
    <center>
        <h1 class = 'alert alert-success'>Welcome to SynctacticAI</h1>
        
        <link rel="stylesheet"                 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

        <img src="x.html"  width="70" height="70" />
        <h3 class="p-3 mb-2 bg-primary text-green" style = 'font-size: 50px; '>VB Tracks here
    </h3>
    <h1> Nice to meet you</h1>
    <p>Welcome to the world of AI, you are being tracked</p>

    <p>Regards,<br /> Vishruth</p>
    
            
        </center>
        
        
			
			<img src="{{ url_for('static', filename='img_girl.jpg') }}" height="150px" width="300px"/>
 <link rel="stylesheet"                 href="static/pics/img_girl.png" crossorigin="anonymous">
  </head>

    
  </body>
</html>